<h1>Stupid Coaching</h1>

<div class="question">
  <p>What I said:</p>
  <p>  <%= @params %></p>
</div>
</br>
<div class="question reply">
  <p>What the coach replied:</p>
  <p>  <%= @response %></p>
</div>
</br>
<div class="links">
  <%= link_to "Ask a new question", ask_path, class: "link"%>
</div>
