// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align:center;
}

.btn{
margin-left: 10px;
}

.links {
   text-align: center;
}

.link {
  text-decoration: none;
  color:black;
}

.link :hover{
  text-decoration:none;
}

body {
  margin: 20px;
}

.question{
  border-left: 1px dashed lightgrey;
  padding: 15px;
}

.reply{
  background-color: rgba(0,0,0,0.2);
  border-radius: 7px;
}
